@model MVC_Project_13_April.Models.ChangePassword;

<h2>Change Password</h2>

<div class="form-control">
	<form method="post" asp-action="ChangePassword" asp-controller="Wellcome">

		<div class="col-sm-2">
			<label for="Username"> Enter Username</label>
			<input type="text" id="Username" name="Username" class="form-control" asp-for="Username"/>
		</div>

		<div class="col-sm-2">
			<label for="CurrentPassword">Enter Current Password</label>
			<input type="password" id="Password" name="CurrentPassword" class="form-control" asp-for="CurrentPassword" />
		</div>

		<div class="col-sm-2">
			<label for="NewPassword">Enter New Password</label>
			<input type="password" id="NewPassword" name="NewPassword" class="form-control" asp-for="NewPassword" />
		</div>

		<div class="col-sm-2">
			<label for="ConfirmPassword">Enter Confirm Password</label>
			<input type="password" id="Password1" name="ConfirmPassword" class="form-control" asp-for="ConfirmPassword" />
		</div> <br />
		<div>
		<button type="submit" class="btn btn-success">Change Password</button>
		</div>

	</form>
</div>