@model MVC_Project_13_April.Models.ForgetPassword;

<h2> Forget Password</h2>
<div>
	<form method="post" asp-action="ForgetPassword" asp-controller="WellCome">
		<div class="col-sm-2">
			<label for="Username">Username</label>
			<input type="text" id="Username" name="Username" required />
		</div>

		<div class="col-sm-2">
			<label for="NewPassword">NewPassword</label>
			<input type="text" id="Password" name="Password" required />
		</div>
		<br />
		<div class="col-sm-2">
			<button type="submit" class="btn btn-success">Forget Password</button>
		</div>
</form>
</div>