@model MVC_Project_13_April.Models.User;

<h2 style="background-color:antiquewhite"> Login Page</h2>

<form method="post" asp-action="Login" asp-controller="WellCome">
	<div class="col-sm-2">
		<label for="Username">Username</label>
		<input  type="text" id="Username" name="Username" required/>
	</div>

	<div class="col-sm-2">
		<label for="Password">Password</label>
		<input type="text" id="Password" name="Password" required />
	</div>
	<br />
	<div>
		<button type="submit">Login</button>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a asp-action="Register" class="btn btn-success">Register</a>
	</div>

</form>