@model MVC_Project_13_April.Models.User;


<h2> Register Page</h2>
<form method="post" asp-action="Register" asp-controller="WellCome">
	<div class="col-sm-12">
		<label for="Username">Username</label>
		<input type="text" id="Username" name="Username" required/>
	</div>

	<div class="col-sm-12">
		<label for="Password">Password</label>
		<input type="text" id="Password" name="Password" required />
	</div>
	<br />
	<div>
		<button type="submit" class="btn btn-success">Register</button>
	</div>
</form>